/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* BEGINNING OF CUSTOM CODE */


/* GLOBALLY APPLIED CODE */

* {
	box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  max-width: 1200;
	background-color: white;
	font-size: 15px;
}

/* NAVIAGTION SECTION */

nav {
	background-color: #222;
	padding-bottom: 3.5rem;
	
}

/* LOGO IMAGE CODE */

.logo {
	width: 6rem;
}

.nav {
	width: 95%;
	margin: 0 auto;
	text-align: center;
}

nav .nav {
	justify-content: center;
}

nav ul li a {
	text-decoration: none;
	font-size: 1.1rem;
	color: #c78c06;
	cursor: pointer;
}

nav ul li {
	padding: 3%;
}

.active {
	background-color: #c78c06;
}

.active a {
	color: #222;
}

ul li:nth-child(1) {
	background-color: #c78c06;
	text-align: left;
	padding-top: 3%;
	padding-bottom: 3%
}

/* NAV SEARCH BAR */

input {
  padding: .6rem;
  font-size: 1rem;
  border: 1px solid grey;
  float: left;
  width: 94%;
	background: #f1f1f1;
	color: #222;

}

.fa-search {
	color: #c78c06;
	background-color: #222;
	margin: 0;
	font-size: 1.3rem;
	padding-bottom: 0.49rem;
	padding-top: 0.2rem;
}

.button {
  float: left;
  width: 6%;
  background: #222;
  font-size: 1rem;
  border: 1px solid #c78c06;
  cursor: pointer;
}

/* BANNER SECTION */


.banner-bg {
	background-image: url("../images/main-banner.jpg") ;
	background-repeat: no-repeat;
	background-position: center; 
	background-position: 55% 55%;
  background-size: cover;
	margin: 0;
	padding-top: 8%;
	padding-bottom: 10%;
}

  .banner {
	margin: 0 auto;
	width: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: white;
	padding-top: 3%;
	padding-bottom: 10%;

	padding-left: 3%;
}

.banner a {
	text-decoration: none;

}

.banner .btn {
	border: 2px solid red;
	background-color: black;
	margin-top: 5%;
	padding: 5%;
	color: white;
}

.click {
	padding-right: 4%;
}

.welcome {
	font-size: 4em;
	color: white;
	opacity: none;
	font-weight: bold;
	padding-bottom: 2rem;
	line-height: 5rem;
}

div .banner p {
	font-size: .8rem;
}

/* ABOUT US */

.about-img {
	width: 6rem
}

