/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,
*::after,
*::before{
    box-sizing: inherit;
    line-height: inherit;
}
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

/* BEGINNING OF CUSTOM CODE */


/* GLOBALLY APPLIED CODE */

* {
	box-sizing: border-box;
	text-decoration: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  max-width: 1200px;
	background-color: white;
	font-size: 15px;
}

/* NAVIAGTION SECTION */

nav {
	background-color: #222;
	padding-bottom: 3.5rem;
	
}

/* LOGO IMAGE CODE */

.logo {
	width: 6rem;
}

.nav {
	width: 95%;
	margin: 0 auto;
	text-align: center;
}

nav .nav {
	justify-content: center;
}

nav ul li a {
	text-decoration: none;
	font-size: 1.1rem;
	color: #c78c06;
	cursor: pointer;
	transition: all 0.5s;
}

nav ul li {
	padding: 3%;
}

.active {
	background-color: #c78c06;
}

.active a {
	color: #222;
}

ul li:nth-child(1) {
	background-color: #c78c06;
	text-align: left;
	padding-top: 3%;
	padding-bottom: 3%
}

/* NAV SEARCH BAR */

input {
  padding: .6rem;
  font-size: 1rem;
  border: 1px solid grey;
  float: left;
  width: 94%;
	background: #f1f1f1;
	color: #222;

}

.fa-search {
	color: #c78c06;
	background-color: #222;
	margin: 0;
	font-size: 1.3rem;
	padding-bottom: 0.49rem;
	padding-top: 0.2rem;
}

.button {
  float: left;
  width: 6%;
  background: #222;
  font-size: 1rem;
  border: 1px solid #c78c06;
  cursor: pointer;
}

/* BANNER SECTION */


.banner-bg {
	background-image: url("../images/main-banner.jpg") ;
	background-repeat: no-repeat;
	background-position: center; 
	background-position: 55% 55%;
  background-size: cover;
	margin: 0;
	padding-top: 8%;
	padding-bottom: 10%;
}

  .banner {
	margin: 0 auto;
	width: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: white;
	padding-top: 3%;
	padding-bottom: 2%;
	padding-left: 3%;
}

/* BUTTON STYLES */

.banner a {
	text-decoration: none;
	margin-top: 6%;
	font-size: 1rem;

}


.banner .btn {
background-color: #c78c06;
display: block;
color: #222;
width: 36%;
padding: 4% 0% 5% 5%;
}

.fas {
	padding-left: 10%;
	padding-right: 0%;
	font-size: 1.8rem;
	margin: 0;
}

/* CONTENT STYLES */

.welcome {
	font-size: 4em;
	color: white;
	opacity: none;
	font-weight: bold;
	padding-bottom: 2rem;
	line-height: 5rem;
}

div .banner p {
	font-size: .8rem;
}

/* ABOUT US */

.about-us-bg {
	background-color: #ffe6ac;
}

.about-img {
	width: 100%;
	padding: 2%;
	margin: 0 auto;
}

.about-us {
	font-size: 0.7rem;
	line-height: 1.2rem;
}

.about-us p{
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding-left: 2%; 
}

.about-us :nth-child(3) {
	padding-bottom: 3%;
}

.about {
	font-weight: bold;
	font-size: 2.2rem;
	padding-left: 2%;
	padding-top: 4%;
	padding-bottom: 3%;
}

/* OUR SERVICES SECTION */

.our-services-bg {
	background-color: white;
}

.service {
	font-size: 2.2rem;
	font-weight: bold;
	padding-top: 4%;
	padding-bottom: 1%;
	padding-left: 2%;
}

.card {
	background-color: #ffe6ac;
	padding-bottom: 0.3%;
	margin: 2%;
}

.card img {
	width: 100%;
}

.info {
	font-size: 0.7rem;
	line-height: 1rem;
	padding-left: 2%;
}

.infoh {
	font-size: 1.5rem;
	font-weight: bold;
	padding-top: 4%;
	padding-bottom: 4%;
}


.info .btn {
 background-color: #222;
 display: block;
 color: white;
 width: 34%;
 padding: 4% 0% 5% 5%;
 margin: 2%;
}

/* MARKETING BUTTON */

.info .mkt-btn  {
	background-color: #222;
	display: block;
	color: white;
	width: 39%;
	padding: 4% 0% 5% 5%;
	margin: 2%;
	cursor: pointer;
}

.info a {
	text-decoration: none;
	margin-top: 2%;
	font-size: 1rem;
	cursor: pointer;

}

/* OUR VISION SECTIION */

.our-vision-bg {
	background-image: url("../images/vision.jpg") ;
	background-repeat: no-repeat;
	background-position: right; 
	background-position: 70% 40%;
	background-size: cover;
	width:100%;
	margin-top: 5%;
	margin-bottom: 5%;
	padding-bottom: 5%;
}

.vision {
	font-size: 1.7rem;
	font-weight: bold;
	color: white;
	padding-top: 7%;
	
}

.our-vision {
	color: white;
	font-size: 0.7rem;
	line-height: 1rem;
	padding-left: 2%;
}

.our-vision p {
	padding-top: 5%;
	padding-right: 5%;
}

/* LEARN MORE BUTTON */

.our-vision .btn {
	background: rgba(0, 0, 0, 0.6);
	display: block;
	color: white;
	border: 1px solid #c78c06;
	width: 31%;
	padding: 4% 0% 5% 5%;
	margin: 2%;
 }

 .our-vision a {
	 font-size: 1rem;
 }


/* OUR TEAM SECTION */

.team {
	font-size: 2.2rem;
	font-weight: bold;
	padding-bottom: 2%;
	padding-left: 2%;
}

.our-team-bg {
	background-color: white;
	margin-bottom: 2%;
	margin-top: 2%;
}

.our-team {
	background-color: #ffe6ac;
	margin: 2%;
	font-size: 0.7rem;
	line-height: 1rem;
	padding-bottom: 4%;
}
.our-team p{
	padding-left: 2%;
	padding-right: 3%;
	padding-top: 2%;
}

.john-img, .bob-img {
	width: 100%;
	padding-bottom: 1.5%;
}

.john, .bob {
	font-size: 1.6rem;
	font-weight: bold;
	padding: 2%;
}

.ceo {
	padding-left: 2%;
	font-size: 0.75rem;
	font-weight: bold;
}

.deco {
	border-bottom: 1.8px solid #BF8211;
	width: 96%;
	margin-left: 2%;
}

/* CONTACT US SECTION */

.contact-us-bg {
	background-color: white;
	width: 100%;
}

.contact {
	margin-top: 13%;
	padding-left: 2%;
	font-size: 2.2rem;
	font-weight: bold;
	margin-bottom: 5.5%;
}

.us {
	font-size: 1.55rem;
	font-weight: bold;
	padding-left: 2%;
	margin-bottom: 3%;
}

.c-form {
	width: 100%;
	font-size: 0.7rem;
}

.c-form input, textarea {
	width: 95%;
	margin-left: 2%;
	padding: .15rem;
	background-color: white;
	margin-bottom: 1.5%;
}

.c-form textarea {
	padding: 10%;
	margin-bottom: 2.5%
}

.c-form label {
	display: block;
	padding-left: 2%;
	margin-bottom: 1%;
	padding-top: 1%;
}

.send {
	margin-left: 2%;
	background-color: #222;
	border: none;
	color: #c78c06;
	font-size: 1.05rem;
	padding: 0.7%;
	margin-bottom: 4%;
}

/* HOURS OF OPERATION */

.hours-of {
	background-color: white;
	width: 100%;
}

.hours {
	font-size: 1.5rem;
	font-weight: bold;
	margin-left: 2%;
	margin-bottom: 2%;
}

table {
	width: 95%;
	margin-left: 2%;
}

table, th, td {
	border: 1px solid black;
	font-size: 0.7rem;
	padding-top: 2%;
	padding-bottom: 2%;
}

th {
	background-color: #ffe6ac;
	padding: 3%;
}

td {
	padding: 3%;
}

/* LOCATION SECTION */

.location {
	background-color: white;
}

.loc {
	margin-top: 3%;
	margin-left: 2%;
	margin-bottom: 2%;
	font-size: 1.5rem;
	font-weight: bold;
}


/* GRID CARDS SECTION MEDIA QUERY*/

/*.cards {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-template-areas: 
	"t1   t1   t1"
	"c1 c1 c1"
	"c2 c2 c2"
	"c3 c3 c3"
	"c4 c4 c4"
	"c5 c5 c5";
}

.cards .service:nth-child(1) {
	grid-area: t1;
}

.cards .card:nth-child(2) {
	grid-area: c1;
}

.cards .card:nth-child(3) {
	grid-area: c2;
}

.cards .card:nth-child(4) {
	grid-area: c3;
}

.cards .card:nth-child(5) {
	grid-area: c5;
}/*